-- name: Exists{{.GetSchemaName | pascalCase}}{{.Name | pascalCase}} :one
SELECT EXISTS (
SELECT 1
FROM {{.GetFullTableName}}
{{generateFilterConditions .}}
) as exists;

-- name: Count{{.GetSchemaName | pascalCase}}{{.Name | pascalCase}} :one
SELECT COUNT(*)
FROM {{.GetFullTableName}}
{{generateFilterConditions .}};

-- name: List{{.GetSchemaName | pascalCase}}{{.Name | pascalCase}} :many
SELECT *
FROM {{.GetFullTableName}}
{{generateFilterConditions .}}
ORDER BY "id"
LIMIT {{sqlcNarg "limit"}}
OFFSET {{sqlcNarg "offset"}};
