-- name: Count{{.Name | pascalCase}} :one
SELECT COUNT(*)
FROM {{.GetFullTableName}}
{{if .GetFilterableColumns}}WHERE (
   {{range $i, $col := .GetFilterableColumns}} {{if $i}}AND
    {{end}}({{quotedName $col}} = {{sqlcNarg $col.Name}} OR {{sqlcNarg $col.Name}} IS NULL){{end}}
){{end}};

-- name: List{{.Name | pascalCase}} :many
SELECT *
FROM {{.GetFullTableName}}
{{if .GetFilterableColumns}}WHERE (
   {{range $i, $col := .GetFilterableColumns}} {{if $i}}AND
    {{end}}({{quotedName $col}} = {{sqlcNarg $col.Name}} OR {{sqlcNarg $col.Name}} IS NULL){{end}}
){{end}}
{{if .HasDateColumns}}ORDER BY "date_created" DESC{{else}}ORDER BY "id"{{end}}
LIMIT {{sqlcArg "limit"}}
OFFSET {{sqlcArg "offset"}};